<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Customers</title>
</head>
<body>
    <form method="POST" action="">
        <input type="submit" name="nav" value="Home">
        <input type="submit" name="nav" value="Movies">
        <input type="submit" name="nav" value="Customers">
        <input type="submit" name="exp" value="Export">
    </form>
	<h1>Customers</h1>
    <div id="status"></div>
    <h3>Add Customer</h3>
    <form method="POST" action="">
        <input type="text" name="fName" placeholder="First Name">
        <input type="text" name="lName" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="phone" placeholder="Phone Number">
        <input type="text" name="addy" placeholder="Address">
        <input type="text" name="addy2" placeholder="Address 2">
        <input type="text" name="dist" placeholder="Territory/State">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="zip" placeholder="Zip Code">
        <input type="text" name="country" placeholder="Country">
        <input type="submit" name="subAdd" value="Add Customer">
    </form>
    <h3>Recall Customer</h3>
    <form method="POST" action="">
        <input type="submit" name="list" value="View All">
    </form>
    <form method="POST" action="">
        <input type="text" name="filterVal" placeholder="Filter by id, first, or last name">
        <input type="submit" name="filterSub" value="Filter">
    </form>
    <table border="1">
        {% if customerList %}
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        {% endif %}
        {% for detail in customerList %}
        <tr>
            {% for d in detail %}
            <td>{{ d }}</td>
            {% endfor %}
            <td><form method="POST" action="">
                <input type="hidden" name="custID" value="{{detail[0]}}">
                <input type="submit" name="custDet" value="View More">
            </form></td>
        </tr>
        {% endfor %}
    </table>
    {% if cID %}
    <table border="1">
        <tr>
            <td>
                ID: {{ cID }}<br />
                <form method="POST" action="" onsubmit="return confirm('Save your changes?');">
                <input type="hidden" name="ID" value="{{cID}}"><br />
                First Name <input type="text" name="fN" value="{{fN}}"><br />
                Last Name <input type="text" name="lN" value="{{lN}}"><br />
                Email <input type="text" name="eM" value="{{eM}}"><br />
                Phone <input type="text" name="pH" value="{{pH}}"><br />
                Address <input type="text" name="sT" value="{{sT}}"><br />
                Address 2 <input type="text" name="sT2" value="{{sT2}}"><br />
                City <input type="text" name="cT" value="{{cT}}"><br />
                State/Territory <input type="text" name="dT" value="{{dT}}"><br />
                Zip Code <input type="text" name="zip" value="{{zip}}"><br />
                Country <input type="text" name="cTry" value="{{cTry}}"><br />
                <input type="submit" name="upCus" value="Update Customer">
                <input type="submit" name="delCus" value="Delete Customer"><br />
                <input type="submit" name="rentals" value="View Rentals">
                </form>
            </td>
        </tr>
    </table>
    {% endif %}
    {% if rentals %}
    ID: {{ custIden }} {{ lNam }}, {{ fNam }}
    <table border="1">
        <th>Rental ID</th>
        <th>Film</th>
        <th>Rental Date</th>
        <th>Return Date</th>
        <th>Updated</th>
            {% for detail in rentals %}
            <tr> 
                {% for d in detail %}
                <td>
                    {{ d }}
                </td>
                {% endfor %}
                {% if detail[3] == None %} 
                <td>
                    <form method="POST" action="">
                        <input type="hidden" name="rentID" value="{{detail[0]}}">
                        <input type="submit" name="returnFilm" value="Return">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
    </table>
    {% endif %}
</body>
</html>
