<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Customers</title>
</head>
<body>
    <form method="POST" action="">
        <input type="submit" name="nav" value="Home">
        <input type="submit" name="nav" value="Movies">
        <input type="submit" name="nav" value="Customers">
        <input type="submit" name="exp" value="Export">
    </form>
	<h1>Customers</h1>
    <div id="status"></div>
    <h3>Add Customer</h3>
    <form method="POST" action=""onsubmit="return alert('Customer Added.');">
        <input type="text" name="fName" placeholder="First Name" required pattern="[A-Za-z]+[-]?[']?[A-Za-z]+">
        <input type="text" name="lName" placeholder="Last Name" required pattern="/^[A-Za-z][A-Za-z\'\-]+([\ A-Za-z][A-Za-z\'\-]+)*/">
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="phone" placeholder="Phone: XXXXXXXXXX" required pattern="[\d]{10}">
        <input type="text" name="addy" placeholder="Address" required pattern="[\d]{,5}\s[A-Za-z][A-Za-z\'\-]+\s[A-Za-z]+">
        <input type="text" name="addy2" placeholder="Address 2" pattern="[\d]{,5}\s[A-Za-z][A-Za-z\'\-]+\s[A-Za-z]+ | ^(?![\s\S])">
        <input type="text" name="dist" placeholder="Territory/State" required pattern="[A-Za-z]{2,}">
        <input type="text" name="city" placeholder="City" required pattern="[A-Za-z]{2,}">
        <input type="text" name="zip" placeholder="Zip XXXXX" required pattern="[\d]{5}">
        <select multiple="multiple" name="country" required>
            {% for c in cList %}
            <option value="{{ c[0] }}">{{ c[0] }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="subAdd" value="Add Customer">
    </form>
    <h3>Recall Customer</h3>
    <form method="POST" action="">
        <input type="submit" name="list" value="View All">
    </form>
    <form method="POST" action="">
        <input type="text" name="filterVal" placeholder="Filter by id, first, or last name" required pattern="/^[A-Za-z][A-Za-z\'\-]+([\ A-Za-z][A-Za-z\'\-]+)*/ | [0-9]+">
        <input type="submit" name="filterSub" value="Filter">
    </form>
    {% if errorVar %}
        <br />No results found for {{ errorVar }}.
    {% endif %}
    <table border="1">
        {% if customerList %}
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        {% endif %}
        {% for detail in customerList %}
        <tr>
            {% for d in detail %}
            <td>{{ d }}</td>
            {% endfor %}
            <td><form method="POST" action="">
                <input type="hidden" name="custID" value="{{detail[0]}}">
                <input type="submit" name="custDet" value="View More">
            </form></td>
        </tr>
        {% endfor %}
    </table>
    {% if cID %}
    <table border="1">
        <tr>
            <td>
                ID: {{ cID }}<br />
                <form method="POST" action="" onsubmit="return confirm('Save your changes?');">
                <input type="hidden" name="ID" value="{{cID}}"><br />
                First Name <input type="text" name="fN" value="{{fN}}" required><br />
                Last Name <input type="text" name="lN" value="{{lN}}" required><br />
                Email <input type="text" name="eM" value="{{eM}}" required><br />
                Phone <input type="text" name="pH" value="{{pH}}" required><br />
                Address <input type="text" name="sT" value="{{sT}}" required><br />
                Address 2 <input type="text" name="sT2" value="{{sT2}}"><br />
                City <input type="text" name="cT" value="{{cT}}" required><br />
                State/Territory <input type="text" name="dT" value="{{dT}}" required><br />
                Zip Code <input type="text" name="zip" value="{{zip}}" required><br />
                Country <select multiple="multiple" name="cTry" required>
                    <option value="{{cTry}}" selected>{{cTry}}</option>
                    {% for c in cList %}
                    <option value="{{ c[0] }}">{{ c[0] }}</option>
                    {% endfor %}
                </select><br />
                <input type="submit" name="upCus" value="Update Customer">
                </form>
                <form method="POST" action="" onsubmit="return confirm('You are about to delete this customer. Continue?');">
                    <input type="hidden" name="ID" value="{{cID}}">
                    <input type="submit" name="delCus" value="Delete Customer"><br />
                </form>
                <form method="POST" action="">
                    <input type="hidden" name="ID" value="{{cID}}">
                    <input type="submit" name="rentals" value="View Rentals">
                </form>
            </td>
        </tr>
    </table>
    {% endif %}
    {% if errorVarRent %}
    ID: {{ custIden }} {{ lNam }}, {{ fNam }}
        <br />{{ errorVarRent }}
    {% endif %}
    {% if rentals %}
    ID: {{ custIden }} {{ lNam }}, {{ fNam }}
    <table border="1">
        <th>Rental ID</th>
        <th>Film</th>
        <th>Rental Date</th>
        <th>Return Date</th>
        <th>Updated</th>
            {% for detail in rentals %}
            <tr> 
                {% for d in detail %}
                <td>
                    {{ d }}
                </td>
                {% endfor %}
                {% if detail[3] == None %} 
                <td>
                    <form method="POST" action="" onsubmit="return alert('Film Returned.');">
                        <input type="hidden" name="rentID" value="{{detail[0]}}">
                        <input type="submit" name="returnFilm" value="Return">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
    </table>
    {% endif %}
</body>
</html>
