<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Customers</title>
</head>
<body>
    <form method="POST" action="">
        <input type="submit" name="nav" value="Home">
        <input type="submit" name="nav" value="Movies">
        <input type="submit" name="nav" value="Customers">
    </form>
	<h1>Customers</h1>
    <h3>Add a Customer</h3>
    <form method="POST" action="">
        <input type="text" name="fName" placeholder="First Name">
        <input type="text" name="lName" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="phone" placeholder="Phone Number">
        <input type="text" name="addy" placeholder="Address">
        <input type="text" name="addy2" placeholder="Address 2">
        <input type="text" name="dist" placeholder="Territory/State">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="zip" placeholder="Zip Code">
        <input type="text" name="country" placeholder="Country">
        <input type="submit" name="subAdd" value="Add Customer">
    </form>
    <form method="POST" action="">
        <input type="submit" name="list" value="View All">
    </form>
    <form method="POST" action="">
        <input type="text" name="filterVal" placeholder="Filter by id, first, or last name">
        <input type="submit" name="filterSub" value="Filter">
    </form>
    <table border="1">
        {% for detail in customerList %}
        <tr>
            {% for d in detail %}
            <td>{{ d }}</td>
            {% endfor %}
            <td><form method="POST" action="">
                <input type="hidden" name="custID" value="{{detail[0]}}">
                <input type="submit" name="custDet" value="View More">
            </form></td>
        </tr>
        {% endfor %}
    </table>
    {% if cID %}
    <table border="1">
        <tr>
            <td>
                ID: {{ cID }}<br />
                <form method="POST" action="">
                <input type="hidden" name="ID" value="{{cID}}"><br />
                First Name <input type="text" name="fN" value="{{fN}}"><br />
                Last Name <input type="text" name="lN" value="{{lN}}"><br />
                Email <input type="text" name="eM" value="{{eM}}"><br />
                Phone <input type="text" name="pH" value="{{pH}}"><br />
                Address <input type="text" name="sT" value="{{sT}}"><br />
                Address 2 <input type="text" name="sT2" value="{{sT2}}"><br />
                City <input type="text" name="cT" value="{{cT}}"><br />
                State/Territory <input type="text" name="dT" value="{{dT}}"><br />
                Zip Code <input type="text" name="zip" value="{{zip}}"><br />
                Country <input type="text" name="cTry" value="{{cTry}}"><br />
                <input type="submit" name="upCus" value="Update Customer">
                <input type="submit" name="delCus" value="Delete Customer">
            </form></td>
        </tr>
    </table>
    {% endif %}
</body>
</html>
